mat-card {
  padding: 50px 100px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  text-decoration: underline;
}

table {
  width: 100%;
}

table th {
  padding: 10px !important;
  background-color: #f5f5f5;
}

table td {
  padding: 10px !important;
  border: 1px solid #cccccc4f;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.margin-left > div {
  margin-left: 30px;
}

.employee-name-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  border-radius: 100%;
  width: 50px;
  aspect-ratio: 1 / 1;
  margin-right: 16px;
}
