<mat-toolbar color="primary">
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/employee-profiles">Employee Profiles</button>
  <button mat-button routerLink="/visa-status">Visa Status Management</button>
  <button mat-button routerLink="/hiring">Hiring Management</button>
  <button mat-button routerLink="/housing">Housing Management</button>
  <button mat-button *ngIf="!isLoggedIn()" routerLink="/login">Log In</button>
  <button mat-button *ngIf="isLoggedIn()" (click)="onLogoutClick()">
    Log Out
  </button>
</mat-toolbar>
