<input
  type="text"
  placeholder="Search employees"
/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SSN</th>
      <th>Work Authorization</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>

  <!-- <tbody>
    <tr *ngFor="let employee of employees">
      <td>
        <a [routerLink]="['/employee-profiles', employee.id]"
          >{{ employee.first_name }} {{ employee.last_name }}</a
        >
      </td>
      <td>{{ employee.ssn }}</td>
      <td>{{ employee.visa_type }}</td>
      <td>{{ employee.cell_phone }}</td>
      <td>{{ employee.email }}</td>
    </tr>
  </tbody> -->
</table>
