<div *ngIf="loading$ | async" class="loading-container">Loading...</div>
<div *ngIf="error$ | async as error" class="error-container">
  <mat-card class="error-card"> Error: {{ error }} </mat-card>
</div>

<div class="table-container" *ngIf="employees$ | async as employees">
  <mat-toolbar class="tool-bar-title">
    <span>Employee Profiles</span>
  </mat-toolbar>

  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search by Name</mat-label>
    <input
      matInput
      placeholder="Type a first or last name"
      (keyup)="applyFilter($event)"
    />
  </mat-form-field>

  <p class="summary">Total Employees: {{ totalEmployees }}</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let employee">
        <a [routerLink]="[employee.user_id._id]">
          {{ employee.first_name }} {{ employee.middle_name || "" }}
          {{ employee.last_name }}
          <span *ngIf="employee.preferred_name"
            >({{ employee.preferred_name }})</span
          >
        </a>
      </td>
    </ng-container>

    <!-- SSN Column -->
    <ng-container matColumnDef="ssn">
      <th mat-header-cell *matHeaderCellDef>SSN</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.ssn }}
      </td>
    </ng-container>

    <!-- Work Authorization Title Column -->
    <ng-container matColumnDef="visa_type">
      <th mat-header-cell *matHeaderCellDef>Work Authorization Title</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.visa_type }}
      </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="cell_phone">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.cell_phone }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let employee">
        {{ employee.user_id.email }}
      </td>
    </ng-container>

    <!-- Table Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[1, 3, 5]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
